{% extends "base.html" %}

{% block title %}Airports{% endblock %}

{% block content %}
<div class="table-container">
    <table>
        <tr>
            <th>ICAO-Code</th>
            <th>Name</th>
            <th>Stationed Crew</th>
            <th>Actions</th>
        </tr>
        {% for airport in object_list %}
        <tr>
            <td>{{ airport.icao_code }}</td>
            <td>{{ airport.name }}</td>
            <td>{{ airport.num_employees }}</td>
            <td>
                <a href="{% url 'UpdateAirports' airport.icao_code %}"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'DeleteAirports' airport.icao_code %}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="add_link" href="{% url 'AddAirports' %}">Add Airport</a>
</div>
{% endblock %}