{% extends "base.html" %}

{% block title %}Airports{% endblock %}

{% block content %}

<div class="airport-detail-content-container">
    {% if airport_info %}
        <div class="airport-info-container">
            <h3>Airport Information</h3>
            <p>{{ airport_info }}</p>
        </div>
    {% endif %}

    <div class="table-container airport-employees-view">
        <table>
            <tr>
                <th>Avg. Delay</th>
                <th>Num. Flights</th>
                <th>Num. Passengers</th>
            </tr>
            <tr>
                <td>{{ airport_stats.avg_delay|floatformat:2 }}</td>
                <td>{{ airport_stats.num_flights }}</td>
                <td>{{ airport_stats.num_passengers }}</td>
            </tr>
        </table>
    </div>
    {% endblock %}
</div>
