{% extends "base.html" %}

{% block title %}Assignments{% endblock %}

{% block content %}
<div class="table-container">
    <table>
        <tr>
            <th>Flight</th>
            <th>From</th>
            <th>To</th>
            <th>Assignee</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
        {% for assignment in object_list %}
        <tr>
            <td>{{ assignment.flight.number }}</td>
            <td>{{ assignment.flight.departure_airport.name }}</td>
            <td>{{ assignment.flight.destination_airport.name }}</td>
            <td>{{ assignment.employee.first_name }} {{ assignment.employee.last_name }}</td>
            <td>{{ assignment.employee.get_role_display }}</td>
            <td>
                <a href="{% url 'UpdateAssignments' assignment.id %}">&#9998;</a>
                <a href="{% url 'DeleteAssignments' assignment.id %}">&#128465;</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><a href="{% url 'AddAssignments' %}">Add Airport</a></td>
        </tr>
    </table>
</div>
{% endblock %}