{% extends "base.html" %}

{% block title %}Crew{% endblock %}

{% block content %}
<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Role</th>
            <th>Based In</th>
            <th>Spouse</th>
            <th>Actions</th>
        </tr>
        {% for employee in object_list %}
        <tr>
            <td>{{ employee.first_name }} {{ employee.last_name }} 
                {% if top_hours_pilot_id and top_hours_pilot_id == employee.id %}<span class="badge"><i class="bi bi-trophy-fill"></i> AIRTIME</span>{% endif %}
                {% if top_flights_pilot_id and top_flights_pilot_id == employee.id %}<span class="badge"><i class="bi bi-trophy-fill"></i> #FLIGHTS</span>{% endif %}
            </td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.get_role_display }}</td>
            <td>{{ employee.based_in.name }}</td>
            <td>{% if employee.spouse %}{{ employee.spouse.first_name }} {{ employee.spouse.last_name }}{% else %} - {% endif %}</td>
            <td>
                <a href="{% url 'UpdateEmployees' employee.id %}"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'DeleteEmployees' employee.id %}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="add_link" href="{% url 'AddEmployees' %}">Add Crew member</a>
</div>
{% endblock %}