{% extends "base.html" %}

{% block title %}Crew{% endblock %}

{% block content %}
<div class="table-container">
    <table>
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Role</th>
            <th>Based In</th>
            <th>Actions</th>
        </tr>
        {% for employee in object_list %}
        <tr>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.get_role_display }}</td>
            <td>{{ employee.based_in.name }}</td>
            <td>
                <a href="{% url 'UpdateEmployees' employee.id %}"><i class="bi bi-pencil-square"></i></a>
                <a href="{% url 'DeleteEmployees' employee.id %}"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="add_link" href="{% url 'AddEmployees' %}">Add Crew member</a>
</div>
{% endblock %}